<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Backbone.js Web App</title>
        <link rel="stylesheet" href="styles/styles.css" />
    </head>
    <body>
      <div class="container">
        <div id="contacts">

        </div>
      </div>
        <script id="contactTemplate" type="text/template">
            <img src="<%= photo %>" alt="<%= name %>" />
            <h1><%= name %><span><%= type %></span></h1>
            <div><%= address %></div>
            <dl>
                <dt>Tel:</dt><dd><%= tel %></dd>
                <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
            </dl>
        </script>
        <script src="scripts/jquery.js" /></script>
        <script src="scripts/underscore.js" /></script>
        <script src="scripts/backbone.js" /></script>
        <script src="scripts/app.js"/></script>
    </body>
</html>
